/.idea/
/.project
/target
/.settings
.classpath
.project
/logs
/bin
target/**
.settings
.target
.idea
.git
**/target/
**/WEB-INF/lib/
**/WEB-INF/classes/
buid
*.psd
**/deploy/*.log
**/webapp/public/*
.idea/
*.iml
.externalToolBuilders/
.metadata/**
.DS_Store
/**/logs/

